body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Navbar */
nav {
    background-color: #333;
    padding: 1em;
 }

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
 text-align: center;
}

nav a {
 color: white;
 text-decoration: none;
 padding: 0.5em 1em;
 border-radius: 4px;
 transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
 background-color: white;
 color: #333;
}

/* Main Section */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 2em;
    background-color: #f4f4f4;
}

.card {
    background: white;
    padding: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h2 {
    margin-bottom: 0.5em;
}

.card p {
    color: #555;
}


 .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
 }

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

footer a {
    color: lightblue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}